h1{
	background-color: white;
}
h1#t4{
	padding: 50px;
	font-size: 40px;
	
}
.para{
	color: white;
	
	
	

}
.steve{
	height: 20%;
	width: 20%;
	

	}
.iphone{
	height: 200px;
	


}	
a:link {
  color: black; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: tomato;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: gray;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: cyan;
  background-color: transparent;
  text-decoration: underline;
}